* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, button {
  /* Need to synchronize by hand with the app's theme */
  font-family: Futura PT Book, Futura PT, Roboto, sans-serif, Helvetica, Arial;
}
